---
import Base from '../layouts/Base.astro';
---
<Base title="About — Jorg Sowa">
  <article>
    <h3>Hi there, wanderer 👋</h3>

    <p>I'm an Open Source, Open Tech, and Open Source DIY enthusiast.</p>

    <p>Interested in contributing to the:</p>
    <ul>
      <li>PHP Core 🐘</li>
      <li>Static Analysis tools (such as <a href="https://github.com/jorgsowa/mir">Mir</a>, Psalm, PHPStan)</li>
      <li>Security tools, and strengthening the OS ecosystem security</li>
    </ul>

    <p>You can reach out to me: <a href="mailto:jorg.sowa@gmail.com">jorg.sowa@gmail.com</a></p>
  </article>
</Base>
